.section-proceess {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.section-player: {
    display: none;
}

.section-loading: {
    display: none;
}

.section-process: {
    display: none;
}

#buttonStart: {
    display: none;
}

.div-logo-container-nav {
  max-width: 180px;
}

.div-toggle-player {
    display: none;
}